body {
  
 background-image: linear-gradient(to right, rgba(100, 73, 73, 0), rgb(170, 74, 74));
}
.title-img{
  width: 50px;
  height: 50px;
}
.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color:rgb(143, 106, 155);
  
}
.nav-title{
  display: flex;
  align-items: center;
}
.navbar-title{
  font-size: x-large;
}
 /* .container-fluid{
 background-image: linear-gradient(to right, rgba(100, 73, 73, 0), rgb(170, 74, 74)); 

}  */
form.d-flex{
  margin: auto ;
}

.form-search-bar{
  width: 500px;
  background-color: blanchedalmond;
}
.search-btn{
  background-color: rgb(180, 238, 180);
}
.signin-btn{
  background-color: rgb(89, 224, 241);
}
.logout-btn{
  background-color: rgb(89, 224, 241); 
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 67px;
  left: 0;
  background-color:rgb(240, 219, 196);
  overflow-x: hidden;
  padding-top: 16px;
  width: 200px;
  /* border-right: 1px solid blue; */
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #5c4d9c;
  display: block;
  /* background-color:blanchedalmond;
  */
 
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #0da5d3;
}

/* Style the main content */
.main {
  margin-top: 50px;
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
@media only screen and (max-width: 768px) {
  .navbar {top:0}
  .navbar {left:0}
}
.main-div{
  margin-left: 15%;
  margin-bottom: 0;
  /* background-image: linear-gradient(to right, rgba(100, 73, 73, 0), rgb(170, 74, 74)); */
}
.signup-wrapper{
  width: 50%;
  margin: auto;
  padding: 40px;
  border: 0.5px solid rgb(168, 80, 95);
  padding: 25px;
  padding-top: 40px;
 
  
}

.title{
  text-align: center;

}
.sub-btn{
  text-align: center;
}
.user-details{
  
    display: flex;
    align-items: center;
    text-decoration: none;
    color: blue;
    font-size: large;
  
}

.nav-item{
  margin-right: 3rem;
}
.fa-solid{
  margin-right: 0.5 rem;
}
.company-card{
  background-color: rgb(170, 168, 169);
}
.users-card{
  width: 700px;
  height: 700px;
  margin-bottom: 3rem;
  margin-right: 5rem;
  background-color: rgb(228, 191, 191);
  
}
.cardsof-user{
  margin: 20px,20px,20px,20px;
padding-top: 30px;
padding-left: 30px;
padding-bottom: 30px;
padding-right: 30px;
}
.ask-btn{
 
  right: 15px;
 position: absolute;

}
.askqus-btn{
 top: 68px;
  right: 0px;
 position: absolute;

}
.ask-container{
  position: relative;
  
}
.ask-wrapper{
  padding: 40px;
}
.ask-btn{

  bottom: 0px;
  left: 30px;
  
}
